.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black !important;
    /* background-image: linear-gradient(to right ,#16db78, #373535) !important; */
    color: black !important; ;

    border-radius: 50% !important;
}